<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.studentmanagement">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProductCrudProject">
        <activity
            android:name="com.example.studentmanagement.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.studentmanagement.LoginStudent" android:label="Login"/>
        <activity android:name="com.example.studentmanagement.RegisterStudent" android:label="Register Student"/>
        <activity android:name="com.example.studentmanagement.StudentList" android:label="Students"/>
        <activity android:name="com.example.studentmanagement.AdminLogin" android:label="Admin Login"/>
        <activity android:name="com.example.studentmanagement.AdminRegister" android:label="Add New Admin"/>
        <activity android:name="com.example.studentmanagement.StudentDashboard" />
        <activity android:name="com.example.studentmanagement.AdminDashboard" />
        <activity android:name="com.example.studentmanagement.AdminAddCourse"  android:label="Add New Courses"/>
        <activity android:name=".StudentCourses" android:label="Student Courses"/>
    </application>

</manifest>